<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <p class="notice text-blue-600"><%= notice %></p>
      <p class="alert text-red-600"><%= alert %></p>

      <div id="site-header" class="flex gap-2 ">
        <%= link_to "Home", root_path %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Log in", new_user_session_path %>
      </div>
      
      <%= yield %>
    </main>
  </body>
</html>
